body, p, a {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 500;
}

h1 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 800 !important;
}

h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: bold;
}

pre, code, pre.usage, code.sourceCode.r, .sourceCode, .examples, .downlit, .sourceCode, .r {
    font-family: ui-monospace, SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-weight: 500;
}

.github-love {
    stroke: #ea4aaa;
    fill: #ea4aaa;
}

a, a:hover, a:focus {
    color: #11866F;
}

@media (prefers-color-scheme: dark) {

    a, a:hover, a:focus {
        color: #0ce3ac;
    }

    .github-love {
        stroke: #db61a2;
        fill: #db61a2;
    }
}
