on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: check-link-rot

jobs:
  check-link-rot:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2
        with:
            pandoc-version: '2.19.2'

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: "devel"
          http-user-agent: "release"
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          pak-version: devel
          extra-packages: |
            any::rcmdcheck
            any::urlchecker

      - name: Run URL checker
        run: |
          options(crayon.enabled = TRUE)
          rotten_links <- urlchecker::url_check(progress = FALSE)
          if (length(rotten_links$URL) > 0L) {
            print(rotten_links)
            stop("Some URLs are outdated and need to be updated.", call. = FALSE)
          }
        shell: Rscript {0}
